@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scroll behavior */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; /* Clean professional font */
  background-color: #f8fafc;
}